@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

#txt {
    text-align: right;
    color: #000;
}

#tela {
    border: 3px solid #fff;
    width: 200px;
    height: 50px;
    padding: 10px;
    text-align: right;
    margin-bottom: 5px;
    margin-left: 15px;
    background-color: none;
    border-radius: 6px;
}

.container {
    max-width: 100%;
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    text-align: center;
    height: 500px;
    flex-wrap: wrap;
    background-color: rgb(14, 127, 165);
    border-radius: 6px;
}

.calculadora {
    margin: 0 auto;
}

button {
    border: none;
    margin: 2px;
    padding: 10px;
    width: 49px;
    height: 50px;
    background-color: cadetblue;
    border-radius: 4px;
}

.buttons-container {
    max-width: 250px;
}


@media(min-width: 360px) {
    .container {
        max-width: 360px;
        margin: 0 auto;
        margin-top: 200px;
    }
}